# CartoCamp: Data Science + Maps workshop

### Jan 27, 2017

* Andy Eschbacher, map scientist, CARTO, [@MrEPhysics](https://twitter.com/MrEPhysics), andy@carto.com
* Danny Sheehan, solutions engineer, CARTO, [@nygeog](https://twitter.com/nygeog), danny@carto.com

Event page: https://www.meetup.com/CartoCamp/events/236668763/

## Why we're having this workshop

We've been frustrated by the pain points in working including maps in the data science workflow, especially interactive maps. While we don't have a full solution, we're going to show you some of the tricks and tips we've picked up along the way. We also hope that you can share what you've learned here and open a pull request against this repo to include things that we left out!

**Our goal** today is to **analyze spatial data** and **visualize it (i.e., create maps)** in a standard data science workflow and toolkit (Jupyter notebook + pandas, scikit-learn, requests, NumPy, ...). We'll be using CARTO for some of the spatial processing and map generation.

In [1]:
import IPython
iframe = '<iframe width="100%" height="520" frameborder="0" src="https://team.carto.com/u/eschbacher/builder/96da150a-b8c9-11e6-8a45-0ecd1babdde5/embed" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>'
IPython.display.HTML(iframe)

## Getting setup

* Development environment: check out the [README](https://github.com/CartoCamp/workshops/tree/master/2017-01-27-data-sci-maps/README.md) to get up and going!
* Get a CARTO account

## Grabbing the taxi data

**BEWARE** there are around 11 million entries in this dataset (which is around 1 GB), so make sure to subsample the pieces you want. Using WHERE filters or LIMITs in SQL are the best way to get subsamples.

This dataset is stored in my CARTO account, and we'll access it via CARTO's [SQL API](https://carto.com/docs/carto-engine/sql-api).

In [4]:
import pandas as pd
import numpy as np
import json

NUMROWS = 50000
DAY = '2015-08-22'
cred = json.load(open('credentials.json')) # modify credentials.json.sample

username = 'eschbacher'
api_key  = cred['api_key']

sql_api_template = 'https://{username}.carto.com/api/v2/sql?q={query}&format=csv'

def uri_query(query):
    """
        Prepare SQL queries for API usage
    """
    return query.strip().replace('\n', ' ').replace(' ', '%20')

### Understanding our data

In [6]:
query = '''
SELECT * FROM taxi_aug15_sept15
LIMIT 10
'''

sql_api_request = sql_api_template.format(query=uri_query(query),
                                          username=username)
print(sql_api_request)
df = pd.read_csv(sql_api_request).set_index('cartodb_id')

df.head()

https://eschbacher.carto.com/api/v2/sql?q=SELECT%20*%20FROM%20taxi_aug15_sept15%20LIMIT%2010&format=csv

,the_geom,the_geom_webmercator,vendorid,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,ratecodeid,...,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
cartodb_id,,,,,,,,,,,,,,,,,,,,,
57444070,NaN,NaN,1,2015-08-16 21:46:13+00,2015-08-16 21:49:45+00,1,0.80,-73.984764,40.732044,1,...,-73.996231,40.738121,1,4.5,0.5,0.5,1.0,0.0,0.3,6.8
57443485,NaN,NaN,1,2015-08-16 21:34:51+00,2015-08-16 21:37:31+00,1,0.40,-73.979912,40.759033,1,...,-73.977104,40.764370,2,4.0,0.5,0.5,0.0,0.0,0.3,5.3
57443486,NaN,NaN,1,2015-08-16 21:34:51+00,2015-08-16 21:40:40+00,1,1.00,-73.984917,40.760937,1,...,-73.977905,40.753777,2,6.0,0.5,0.5,0.0,0.0,0.3,7.3
57443487,NaN,NaN,1,2015-08-16 21:34:51+00,2015-08-16 21:42:02+00,1,0.80,-73.999802,40.728455,1,...,-73.994766,40.730343,2,6.5,0.5,0.5,0.0,0.0,0.3,7.8
57443488,NaN,NaN,2,2015-08-16 21:34:51+00,2015-08-16 22:01:42+00,1,5.86,-73.971428,40.744301,1,...,-73.964188,40.679691,2,22.0,0.5,0.5,0.0,0.0,0.3,23.3

In [7]:
df.columns

Index([u'the_geom', u'the_geom_webmercator', u'vendorid',
       u'tpep_pickup_datetime', u'tpep_dropoff_datetime', u'passenger_count',
       u'trip_distance', u'pickup_longitude', u'pickup_latitude',
       u'ratecodeid', u'store_and_fwd_flag', u'dropoff_longitude',
       u'dropoff_latitude', u'payment_type', u'fare_amount', u'extra',
       u'mta_tax', u'tip_amount', u'tolls_amount', u'improvement_surcharge',
       u'total_amount'],
      dtype='object')

### Let's get a summary of the data

In [8]:
query = '''
SELECT 
    min(tpep_pickup_datetime) As min_date,
    max(tpep_pickup_datetime) As max_date,
    count(*) As n_trips,
    sum(passenger_count) As n_total_passengers,
    max(passenger_count) As max_n_passengers,
    avg(trip_distance) As avg_trip_distance,
    max(fare_amount) As max_fare,
    avg(fare_amount) As avg_fare,
    min(fare_amount) As min_fare,
    max(tip_amount) As max_tip_amount,
    avg(tip_amount) As avg_tip_amount,
    min(tip_amount) As min_tip_amount,
    count(tolls_amount) FILTER (WHERE tolls_amount > 0) n_trips_with_tolls
FROM 
    taxi_aug15_sept15
'''

summary = pd.read_csv(sql_api_template.format(query=uri_query(query), 
                                              username=username))
summary.head()

,min_date,max_date,n_trips,n_total_passengers,max_n_passengers,avg_trip_distance,max_fare,avg_fare,min_fare,max_tip_amount,avg_tip_amount,min_tip_amount,n_trips_with_tolls
0,2015-08-15 04:00:00+00,2015-09-16 03:59:59+00,11471615,19392566,9,8.428135,124518.47,13.12243,-400,800,1.671428,-100,637424

In [23]:
query = '''
SELECT
    ST_MakeLine(
        CDB_LatLng(pickup_latitude, pickup_longitude),
        CDB_LatLng(dropoff_latitude, dropoff_longitude)
    ) As the_geom,
    pickup_longitude as long,
    pickup_latitude as lat,
    dropoff_longitude as d_long,
    dropoff_latitude as d_lat,
    trip_distance,
    passenger_count,
    fare_amount,
    total_amount,
    cartodb_id
FROM 
    taxi_aug15_sept15
WHERE
    fare_amount > 1000
ORDER BY fare_amount DESC
'''

high_rollers = pd.read_csv(sql_api_template.format(query=uri_query(query), 
                                                   username=username)).set_index('cartodb_id')
out_name = 'high_rollers'
high_rollers.head(20)

,the_geom,long,lat,d_long,d_lat,trip_distance,passenger_count,fare_amount,total_amount
cartodb_id,,,,,,,,,
13487532,0102000020E61000000200000004000000038052C0FDFF...,-74.000183,40.743095,0.000000,0.000000,1.0,1,124518.47,124519.27
4227593,0102000020E610000002000000FEFFFF1FBE7752C00700...,-73.870979,40.773621,-73.927353,40.788910,0.0,3,107399.55,107445.09
13655079,0102000020E610000002000000010000C0207C52C00000...,-73.939499,40.794788,-73.939064,40.805176,1.1,1,6005.00,6006.30
57252805,0102000020E61000000200000000000000DC7E52C0FEFF...,-73.982178,40.770329,-73.952133,40.750282,1.6,1,6000.70,6658.97
12255331,0102000020E61000000200000002000080697E52C00700...,-73.975189,40.790211,-73.978561,40.785927,0.3,6,4591.02,4592.82
3816024,0102000020E610000002000000FFFFFFDF267E52C00400...,-73.971123,40.763165,-73.973434,40.758656,0.0,1,4000.85,4001.35
12026912,0102000020E610000002000000020000E0DF8052C00500...,-74.013664,40.706070,-74.013771,40.706146,0.0,2,2759.07,2759.37
12029478,0102000020E61000000200000000000060EA8052C0FFFF...,-74.014305,40.706875,-74.014259,40.706902,0.0,1,2759.07,2759.37
12031879,0102000020E61000000200000000000000C88052C0FDFF...,-74.012207,40.706707,-74.012177,40.706570,0.0,1,2759.07,2759.37
12034654,0102000020E610000002000000FCFFFFFF347E52C0FEFF...,-73.971985,40.796940,-73.972054,40.796902,0.0,1,2759.07,2759.37
12038072,0102000020E610000002000000000000A0637E52C00100...,-73.974831,40.792992,-73.976814,40.790329,0.4,1,2759.07,2759.37
12039831,0102000020E61000000200000003000040967E52C0FAFF...,-73.977921,40.789024,-73.983536,40.780994,1.4,1,2759.07,2759.37
12041592,0102000020E61000000200000003000040587C52C00500...,-73.942886,40.749771,-73.942886,40.749771,1.4,1,2759.07,2759.37
12081540,0102000020E61000000200000000000060587C52C00400...,-73.942894,40.749748,-73.942917,40.749737,0.0,1,2759.07,2759.37
12027001,0102000020E61000000200000002000080E98052C0FDFF...,-74.014252,40.706596,0.000000,0.000000,0.0,1,2759.07,2759.37
12029378,0102000020E610000002000000FDFFFF5FE98052C00500...,-74.014244,40.706802,-74.014275,40.706924,0.0,1,2759.07,2759.37
12029195,0102000020E610000002000000FFFFFF3FC38052C0F9FF...,-74.011917,40.707470,-74.012222,40.706982,0.0,1,2759.07,2759.37
12027029,0102000020E610000002000000010000C0E88052C00600...,-74.014206,40.706814,-74.014206,40.706821,0.0,1,2759.07,2759.37
14767137,0102000020E61000000200000000000000000000000000...,0.000000,0.000000,0.000000,0.000000,0.0,1,1387.70,1387.70
12199835,0102000020E61000000200000000000000000000000000...,0.000000,0.000000,0.000000,0.000000,0.0,1,1082.00,1082.00

In [21]:
def send_to_carto(df, tablename, n_iters=10):
    import requests
    import time
    import json
    filename = '{}.csv'.format(tablename)
    df.to_csv(filename)
    cred = json.load(open('credentials.json')) # modify credentials.json.sample

    username = cred['username']
    api_key  = cred['api_key']
    api_template = "https://{username}.carto.com/api/v1/imports/?api_key={api_key}"
    files = {'file': open(filename , 'rb')}
    resp = requests.post(api_template.format(username=username, 
                                             api_key=api_key),
                         files=files)
    queue_id = json.loads(resp.text)['item_queue_id']
    print("item_queue_id: {}".format(queue_id))

    last_status = None
    for i in range(n_iters):
        time.sleep(2)
        api_call_status = 'https://{username}.carto.com/api/v1/imports/{queue_id}?api_key={api_key}'
        status = requests.get(api_call_status.format(username=username,
                                                     api_key=api_key,
                                                     queue_id=queue_id))
        if json.loads(status.text)['state'] != last_status:
            print("{tablename}: {state}".format(tablename=tablename,
                                               state=json.loads(status.text)['state']))
        last_status = json.loads(status.text)['state']
        if last_status in ('complete', 'failure'):
            break

In [22]:
send_to_carto(high_rollers, 'high_rollers')

item_queue_id: 658fb79f-9586-40fb-9663-3632b57bd719
high_rollers: importing
high_rollers: complete

In [4]:
def get_carto_map(tablename, colname):
    import requests
    import json
    cred = json.load(open('credentials.json')) # modify credentials.json.sample

    username = cred['username']
    api_key  = cred['api_key']
    maps_api_call_template = "https://{username}.carto.com/api/v1/map/named?api_key={api_key}"
    headers = {'Content-Type': 'application/json'}
    mapconfig = '''
{
  "version": "0.0.1",
  "name": "andy_cartocamp_test2",
  "auth": {
      "method": "open"
  },
  "layergroup": {
    "layers": [
      {
        "type": "mapnik",
        "options": {
          "cartocss_version": "2.1.1",
          "cartocss": "#layer { marker-fill: #FFF; }",
          "sql": "select * from %(tablename)s"
        }
      }
    ]
  },
  "view": {
    "zoom": 12,
    "center": {
      "lng": -74.0059,
      "lat": 40.7127
    }
  }
}
    ''' % {'tablename': tablename}
    print(type(json.loads(mapconfig)))
    payload = {'data': json.dumps(json.loads(mapconfig))}
    print(json.loads(mapconfig))
    print (maps_api_call_template.format(username=username, api_key=api_key))
    resp = requests.post(maps_api_call_template.format(username=username,
                                                       api_key=api_key),
                         headers=headers,
                         data=json.dumps(payload))
    print(resp.text)

In [5]:
get_carto_map('high_rollers', 'passenger_count')

<type 'dict'>
{u'version': u'0.0.1', u'view': {u'zoom': 12, u'center': {u'lat': 40.7127, u'lng': -74.0059}}, u'name': u'andy_cartocamp_test2', u'auth': {u'method': u'open'}, u'layergroup': {u'layers': [{u'type': u'mapnik', u'options': {u'cartocss': u'#layer { marker-fill: #FFF; }', u'sql': u'select * from high_rollers', u'cartocss_version': u'2.1.1'}}]}}
https://eschbacher.carto.com/api/v1/map/named?api_key=05a458d3a45d1237699a4ee05297bb92accce3f4
{"errors":["Unsupported template version undefined"],"errors_with_context":[{"type":"unknown","message":"Unsupported template version undefined"}]}